html {
  background-color: #dbd6cf;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  line-height: 1.5;
  margin: 0;
}

*, *::before, *::after {
  box-sizing: inherit;
}

header nav:last-of-type a:not(.planets) {
  padding: .6em;
}

h1 {
  color: #fff;
  font-family: "Bevan", cursive;
  text-align: center;
  margin: 0;
}

.planets {
  background-color: #79756f;
  text-align: center;
  border: 2px solid #595652;
  border-color: #595652;
  margin: 0;
}

ul li {
  display: inline-block;
  padding: 0;
}

.planets ul {
  list-style-type: none;
}

.planets a {
  display: inline-block;
  padding: .5em .75em;
  background-color: #713837;
  text-align: center;
  border-radius: 4px;
  text-decoration: none;
  color: #fff;
}

.planets a:hover {
  background-color: #f33;
}
